.flex-container {
    display: flex;
    justify-content: center;
}

.react-colorful {
    margin: auto !important;
}

#editor-params {
    /* text-align: center; */
    padding: 20px;
    /* border-left: 1px solid #09e85e; */
    /* border-right: 1px solid #09e85e; */ 
    /* background-color: #1e1e24; */
}

#editor-params > div {
    margin-top: 10px !important;
}

#fileinput {
    /* visibility: hidden; */
    display: none;
}

#title {
    font-family: 'Lobster', cursive;
    color: var(--primary-color);
}