.flex-container {
  display: flex;
  justify-content: center;
}

.react-colorful {
  margin: auto !important;
}

.responsive-picker {
  height: 100%;
}

.responsive-picker .react-colorful {
  width: auto;
  /* height: auto; */
  height: 100%;
}

/* CSS */
.button-solid {
  appearance: none;
  background-color: var(--primary-color);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-solid:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-solid:hover {
  /* background-color: #2c974b; */
  background-color: var(--secondary-color);
}

.button-solid:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-solid:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-solid:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-outline {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-align: center;
}

.button-outline:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-outline:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-outline:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-outline:focus {
  outline: 1px transparent;
}

.button-outline:before {
  display: none;
}

.button-outline:-webkit-details-marker {
  display: none;
}

.button-text {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.full-available-width {
  width: 100%;
}

#editor-params {
  padding: var(--default-padding);
}

#color-picker-sheet {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  height: calc(100% - var(--sheet-header-height) - var(--default-padding));
  text-align: center;
}

#picker-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--sheet-header-height);
}

.flex-big {
  flex-grow: 3;
}

.flex-small {
  flex-grow: 1;
}

.editor-section {
  margin-bottom: 20px;
}

.editor-section>label {
  display: block;
  margin-bottom: 5px;
}

.editor-buttons {
  margin-top: 50px;
}

.circle {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid var(--canvas-color);
  display: inline-block;
}

#fileinput {
  /* visibility: hidden; */
  display: none;
}