.header-container {
    display: flex;
    flex-direction: row;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    align-items: center;
}

.header {
    font-family: 'Lobster', cursive;
    color: var(--primary-color)
}

.menu-header {
    text-align: center;
}

.header-wrapper {
    flex-grow: 1;
}

.material-symbols-outlined {
    color: var(--primary-color);
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: var(--secondary-color);
}